<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>15 April 1994</dd>

                <dt class="text-upper">手机</dt>
                <dd>1876187XXXX</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:xxxx@xx.com">836500860@qq.com</a></dd>

                <dt class="text-upper">语言</dt>
                <dd>CET-6, Duolingo, </dd>

                <dt class="text-upper">其他技能</dt>
                <dd>Python(精通), R(熟练), SQL(熟练), Pandas(精通), 健身指导(国职)</dd>
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->