<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>南京财经大学</strong>
                        <span>2014 - 2018 | 网络与新媒体</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>学习传播学、大数据新闻、网页设计、新闻评论、非线性编辑、跨文化传播、新媒体营销传播。
                        </p>
                        <p>作为班长，多次组织班级活动。 作为校科技学会信息科技部部长，多次联合校外企业赞助学校活动。
                        </p>
                    </blockquote>

                </div>
                </div>
            </div><!-- .ref-box -->
            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school2.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>香港浸会大学</strong>
                        <span>2020 - 2021 | 人工智能&数字媒体</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>学习AI for Digital Media、Comunication、Basic Programming for AI(Python) 、Big Data Management and Anal ytics(SQL)、Data Mining and Knowledge Discovery for Digital Media(R).
                        </p>
                    </blockquote>

                </div>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->